#postfields .inside {
    padding: 0;
    margin: 0;
}

#baseFieldsList {
    margin-bottom: 0;
}

/*#baseFieldsList,*/
/*#formFieldsList {*/
    /*margin: 0;*/
/*}*/

.baseField,
.formField {
    margin: 0;
    padding: 4px 12px;
    border: 1px solid #eeeeee;
}

.formField.hover td,
.formField.topHeaderHover td {
    padding-top: 35px;
}

.formField.bottomHeaderHover td {
    padding-bottom: 35px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
